@using Fatec.Application.ViewModels;
@model IEnumerable<VagaEstagioViewModel>
<br />
<nav>
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="#!" class="breadcrumb">&nbsp; Vagas de Estágio</a>
            <a href="#!" class="breadcrumb">@ViewBag.Title</a>
        </div>
    </div>
</nav>
<br />

@*<div class="col s12 m12 push-l2 l8 push-xl2 xl8 center">

        <div class="row">
            <div class="col-4">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </div>*@

@if (Model != null)
{

    @Html.Raw("<div class=\"row\">");

    //foreach (var vaga in Model)
    for (int i = 0; i < Model.Count(); i++)
    {
        string classeCard = "col s6";

        VagaEstagioViewModel vaga = Model.ElementAt(i);

        //if ((vaga.Descricao != null && vaga.Descricao.Length > 800) ||
        //        (vaga.URLImagem != null && vaga.URLImagem != String.Empty))
        //{
        classeCard = "col s12";
        //}

        if (vaga != null)
        {
            @*<div class="@classeCard">
                <div class="card">
                    <div class="card-image">
                        <img src="@vaga.URLImagem">
                    </div>
                    <div class="card-content">
                        <span class="card-title">@vaga.Titulo</span>
                        <p>@Html.Raw(@vaga.Descricao)</p>
                    </div>
                    @if (vaga.Email != null || vaga.URLSite != null)
                    {
                        <div class="card-action">
                            @if (vaga.Email != null)
                            {
                                <a href="mailto:@vaga.Email"><i class="material-icons tiny">email</i>@vaga.Email.ToLower()</a>
                            }
                            @if (vaga.URLSite != null)
                            {
                                var url = vaga.URLSite;
                                if (!(url.ToUpper().Contains("HTTP://") || url.ToUpper().Contains("HTTPS://")))
                                {
                                    url = string.Format("Http://{0}", url);
                                }

                                <a href="@url"><i class="material-icons tiny">open_in_browser</i>@vaga.URLSite.ToLower()</a>
                            }
                        </div>
                    }
                </div>
            </div>*@

            <div class="col s12 m6 l6 xl4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" src="@vaga.URLImagem">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">@vaga.Titulo<i class="material-icons right">more_vert</i></span>
                        @if (vaga.Email != null)
                        {
                            <p>Contato: <a href="@vaga.Email">@vaga.Email.ToLower()</a></p>
                        }
                    </div>
                    <div class="card-reveal hoverable">
                        <span class="card-title grey-text text-darken-4">@vaga.Titulo<i class="material-icons right">close</i></span>
                        <p>
                            @Html.Raw(@vaga.Descricao)
                        </p>
                    </div>
                    <div class="card-action">
                        @*<a href="#">Empresa</a>*@
                        @if (vaga.URLSite != null)
                        {
                            var url = vaga.URLSite;
                            if (!(url.ToUpper().Contains("HTTP://") || url.ToUpper().Contains("HTTPS://")))
                            {
                                url = string.Format("Http://{0}", url);
                            }

                            <a href="@url"><i class="material-icons tiny">open_in_browser</i>@vaga.URLSite.ToLower()</a>
                        }
                        <a href="#">Mais Detalhes..</a>
                    </div>
                </div>
            </div>


        }
    }
    @Html.Raw("</div>")
}
else
{
    <div class="row">
        <div class="center">
            <h4>Nenhuma vaga de Estágio disponível no momento</h4>
        </div>
    </div>
}
