@using Fatec.Application.ViewModels;
@model IEnumerable<VagaEmpregoViewModel>
@{
    ViewBag.Title = "Vagas Emprego";
}

<br />
<h3 class="center">Vagas de Emprego</h3>
<br />

<div class="row">
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="col s12 m6 l6 xl4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="materialboxed" src="http://fatecjd.edu.br/intranetAlunos/wp-content/uploads/2019/08/Cartaz-181449.pdf-Gam-768x1086.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">@item.Titulo<i class="material-icons right">more_vert</i></span>
                        <p>Contato: <a href="#">@item.Email</a></p>
                    </div>
                    <div class="card-reveal hoverable">
                        <span class="card-title grey-text text-darken-4">@item.Titulo<i class="material-icons right">close</i></span>
                        <p>@item.Descricao</p>
                    </div>
                    <div class="card-action">
                        <a href="#">@item.URLSite</a>
                        <a href="#">Mais Detalhes..</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="center">
            <h4>Nenhuma vaga de emprego disponível no momento</h4>
        </div>
    }
</div>


<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const elems = document.querySelectorAll('.materialboxed');
        const options = {};

        M.Materialbox.init(elems, options);
    });
</script>