@using Fatec.Application.ViewModels;
@using PagedList
@using PagedList.Mvc
@model PaginacaoViewModel<EmpresaViewModel>
@{
    ViewBag.Title = "Empresas";
}


<br />

<div class="nav-wrapper hide-on-med-and-down">
    <nav>
        <div class="col s12">
            <a href="#!" class="breadcrumb">&nbsp; Empresas</a>
            <a href="#!" class="breadcrumb">@ViewBag.Title</a>
        </div>
    </nav>
</div>

<br />

@if (Model?.Resultado != null)
{
    <div class="row">

        @foreach (var item in Model.Resultado)
        {
            <div class="col s12 m6 l6 xl6">
                <div class="card ">
                    <div class="card-content ">
                        <span class="card-title">@item.Nome</span>
                        <p>
                            Telefone: @item.Telefone
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="@item.Email">Email</a>
                        <a href="@item.UrlSite">Site</a>
                    </div>
                </div>
            </div>
        }

    </div>
}
else
{
    <div class="row">
        <div class="center">
            <h4>Nenhuma empresa cadastrada no momento</h4>
        </div>
    </div>
}

@if (ViewBag.PagedList != null)
{
    <div class="row">
        @if (Model != null)
        {
            <div class="col l6">
                Exibindo de @Model.ExibindoDe(ViewBag.TotalItens) até @Model.ExibindoAte(ViewBag.TotalItens) de @ViewBag.TotalItens
            </div>
        }

        @Html.PagedListPager((IPagedList<EmpresaViewModel>
            )ViewBag.PagedList, page => Url.Action("Index", new
            {
                Pagina = page,
                Model.TotalPorPagina
            }), new PagedListRenderOptions
            {
                ContainerDivClasses = new[] { "col s12 m12 offset-l9 l3 offset-xl9 xl3 center" },
                UlElementClasses = new[] { "pagination" },
                LiElementClasses = new[] { "waves-effect" },
                ClassToApplyToFirstListItemInPager = null,
                ClassToApplyToLastListItemInPager = null,
                DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                DisplayLinkToLastPage = PagedListDisplayMode.Never,
                DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                LinkToPreviousPageFormat = "<i class=\"material-icons\">chevron_left</i>",
                LinkToNextPageFormat = "<i class=\"material-icons\">chevron_right</i>"
            })
    </div>
}