@model Fatec.Mvc.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Alterar senha";
}

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", onsubmit = "loader()" }))
{
    @Html.AntiForgeryToken()
    <div class="col s12 m12 l12 xl12 center">
        <h4>@ViewBag.Title</h4>
    </div>

    <div class="input-field col s12 m12 l12 xl12 center">
        @Html.LabelFor(m => m.OldPassword, new { @class = "validate" })
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "helper-text" })
    </div>

    <div class="input-field col s12 m12 l12 xl12 center">
        @Html.LabelFor(m => m.NewPassword, new { @class = "validate" })
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "helper-text" })
    </div>

    <div class="input-field col s12 m12 l12 xl12 center">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "validate" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "helper-text" })
    </div>

    <div class="form-group">
        <div class="col m10">
            <input type="submit" value="Alterar senha" class="btn btn-default" />
        </div>
    </div>
}
