@model Fatec.Mvc.Models.IndexViewModel
@{
    ViewBag.Title = "Gerenciar";
}
<br />

<div class="center-align">
    <h3 class="">Alterar as configurações de conta</h3>
</div>

<div>
    <br />

    <div>
        <span>Senha: </span>

        @if (Model.HasPassword)
        {
            @Html.ActionLink("Alterar sua senha", "ChangePassword")
        }
        else
        {
            @Html.ActionLink("Criar", "SetPassword")
        }
    </div>

    <br />

    <div>
        <span>Logins externos:</span>

        @Model.Logins.Count 
        @Html.ActionLink("Gerenciar", "ManageLogins") 

    </div>

    <p>Os Números de Telefone podem ser usados como um segundo fator de verificação em um sistema de autenticação de dois fatores usando SMS.</p>

    <div>
        <span>Número de Telefone:</span>

        @(Model.PhoneNumber ?? "Nenhum")
        @if (Model.PhoneNumber != null)
        {
            <br />
            @Html.ActionLink("Change", "AddPhoneNumber")
            using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Remover" class="btn-link" />
            }
        }
        else
        {
            @Html.ActionLink("Adicionar", "AddPhoneNumber")
        }
    </div>

    <br />
    <div>
        <span>Autenticação de dois fatores:</span>

        <p>
            Não há nenhum provedor de autenticação de dois fatores configurado.
        </p>
        @if (Model.TwoFactor)
        {
            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                    <input type="submit" value="Desabilitar" class="btn btn-link" />
            }
        }
        else
        {
            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                    <input type="submit" value="Habilitar" class="btn btn-link" />
            }
        }
    </div>
</div>
