@model Fatec.Mvc.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Criar senha";
}

<h2>@ViewBag.Title</h2>

<p class="text-info">
    Você não tem um nome de usuário local e uma senha para esse site. Adicione uma conta
    local para que você possa entrar sem um logon externo.
</p>

@using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", onsubmit = "loader()" }))
{
    @Html.AntiForgeryToken()

    <h4>Criar login local</h4>

    <div class="input-field col s12 m12 l12 xl12 center">
        @Html.LabelFor(m => m.NewPassword, new { @class = "validate" })
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "helper-text" })
    </div>

    <div class="input-field col s12 m12 l12 xl12 center">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "validate" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "helper-text" })
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Definir senha" class="btn btn-default" />
        </div>
    </div>
}