@using Fatec.Mvc.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="col s12 m12 push-l2 l8 push-xl2 xl8 center">

    <br />

    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="input-field col s12 m12 l12 xl12 center">
            @Html.LabelFor(m => m.Email, new { @class = "validate" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "helper-text" })
        </div>

        <div class="input-field col s12 m12 l12 xl12 center">
            @Html.LabelFor(m => m.Password, new { @class = "validate" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "helper-text" })
        </div>

        <div class="col s12 m12 l12 xl12 center">
            <label class="validate">
                <input type="checkbox" checked="checked" />
                <span>lembrar-me?</span>
            </label>

            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "checkbox", @checked = "checked" })
        </div>

        <div class="input-field col s12 m12 l12 xl12 center">
            <input type="submit" value="Logon" class="btn teal-2 waves-light" />
        </div>
        <p>
            @Html.ActionLink("Registre-se como um novo usuário", "Register")
        </p>

        <p>
            @Html.ActionLink("Esqueceu sua senha?", "ForgotPassword")
        </p>
    }

    <div class="input-field col s12 m12 l12 xl12 center">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>

</div>

