@model Fatec.Mvc.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrar";
}

<div class="row">
    <div class="col hide-on-med-and-down l4 xl6 center">
        <div class="row" style="padding-right: 30px;">
            <div class="valign-wrapper">
                <div>
                    <h3>Texto</h3>
                    <blockquote>
                        <p>
                            Esteja sempre conectado com novas oportunidades e demandas do mercado de trabalho disponibilizadas aos alunos pela FATEC Jundiaí.
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l8 xl6">

        <div class="col s12 m12 l12 xl12 center">
            <h2>@ViewBag.Title</h2>
        </div>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", onsubmit = "loader()" }))
        {
            @Html.AntiForgeryToken()
            <div class="col s12 m12 l12 xl12 center">
                <h4>Criar uma nova conta.</h4>
            </div>

            <div class="input-field col s12 m12 l12 xl12 center">
                @Html.LabelFor(m => m.UserName, new { @class = "validate" })
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "helper-text" })
            </div>

            <div class="input-field col s12 m12 l12 xl12 center">
                @Html.LabelFor(m => m.Email, new { @class = "validate" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "helper-text" })
            </div>

            <div class="input-field col s12 m12 l12 xl12 center">
                @Html.LabelFor(m => m.Password, new { @class = "validate" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "helper-text" })
            </div>

            <div class="input-field col s12 m12 l12 xl12 center">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "validate" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "helper-text" })
            </div>

            <div class="col s12 m12 l12 xl12 center">
                <input type="submit" class="btn teal-2 waves-light" value="Registrar" />
            </div>

            <div class="col s12 m12 l12 xl12 center" style="padding: 15px 0 0 0">
                <span>
                    Já tem uma conta? @Html.ActionLink("Fazer Login", "Login")
                </span>
            </div>
        }
    </div>
</div>