@model Fatec.Mvc.Models.ResetPasswordViewModel
@{
    
}

<h2>Redefinir Senha</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Redefinir sua senha</h4>

    @Html.HiddenFor(model => model.Code)

    <div class="input-field col s12 m12 l12 xl12 center">
        @Html.LabelFor(m => m.Email, new { @class = "validate" })
        @Html.PasswordFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "helper-text" })
    </div>

    <div class="input-field col s12 m12 l12 xl12 center">
        @Html.LabelFor(m => m.Password, new { @class = "validate" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "helper-text" })
    </div>

    <div class="input-field col s12 m12 l12 xl12 center">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "validate" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "helper-text" })
    </div>

    <div class="form-group">
        <div class="col m10">
            <input type="submit" class="btn btn-default" value="Redefinir" />
        </div>
    </div>
}