<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="Fatec, Fatec Jundiai, Intranet">
    <meta name="description" content="Intranet Fatec Jundiaí">
    <meta name="theme-color" content="#ffffff" />

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/favicon.ico">

    <!-- PWA: rel manifest -->
    <link rel="manifest" href="../../manifest.json">

    <!-- IOS: icones meta tags -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Intranet Fatec">
    <link rel="apple-touch-icon" href="~/Content/images/favicon.ico">

    <title>@ViewBag.Title - Fatec</title>

    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/js")
</head>
<body style="padding: 0">

    @Html.Partial("_menu")

    <main role="main">

        <div class="container">
            @RenderBody()
            @Html.Partial("_preloader")
        </div>
        
        @Html.Partial("_toasts")
        <noscript class="center">JavaScript não é suportado ou está desativado no navegador!</noscript>

    </main>

    @Html.Partial("_footer")

    @RenderSection("scripts", false)
</body>
</html>