<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="Fatec, Fatec Jundiai, Intranet">
    <meta name="description" content="Intranet Fatec Jundiaí">
    <meta name="theme-color" content="#ffffff" />

    <title>@ViewBag.Title - Fatec</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="padding: 0px">

    @Html.Partial("_menu")

    <main role="main">

        <div class="container">
            @RenderBody()
        </div>

    </main>

    @Html.Partial("_footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")

    @RenderSection("scripts", false)
</body>
</html>
