@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <ul class="sidenav" id="slide_login">
            <li>
                <div class="user-view">
                    @*<div class="background">
                            <img src="~/imagens/fundoPadrao.png" alt="Imagem Fundo">
                        </div>
                        <a href="#">
                            <img class="circle" src="~/imagens/avatarPadrao.png" alt="Avatar">
                        </a>*@
                </div>
            </li>
            <li>
                <a href="#" class="collapsible-header waves-effect waves-teal center" onclick="abrirLinkMenu('@Url.Action("Index", "Manage")')">Olá @{ User.Identity.GetUserName();}</a>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()" class="collapsible-header waves-effect waves-teal"><i class="material-icons left">account_circle</i>Fazer logoff</a>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li>
                <a href="@Url.Action("", "")" class="collapsible-header waves-effect waves-teal"><i class="material-icons left">notifications</i>Notificações</a>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li>
                <a href="@Url.Action("", "")" class="collapsible-header waves-effect waves-teal"><i class="material-icons left">message</i>Mensagens</a>
            </li>
            <li>
                <div class="divider"></div>
            </li>
        </ul>
    }
}
else
{
    <ul class="sidenav" id="slide_login">
        <li>
            <div class="user-view" style="height:100px;">
                <div class="background">
                    @*<img src="~/imagens/fundoPadrao.png" alt="Imagem Fundo">*@
                </div>
            </div>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a id="registerLink" href="#" class="collapsible-header waves-effect waves-teal" onclick="abrirLinkMenu('@Url.Action("Register", "Account")')"><i class="material-icons left"></i>Registrar</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a id="loginLink" href="#" class="collapsible-header waves-effect waves-teal" onclick="abrirLinkMenu('@Url.Action("Login", "Account")')"><i class="material-icons left"></i>Logon</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
    </ul>
}

<script language="javascript">

    document.addEventListener('DOMContentLoaded', function () {
        const loginOptions = { edge: 'right' };

        const login = document.querySelectorAll('#slide_login');
        M.Sidenav.init(login, loginOptions);
    });

    function abrirLinkLogin(vUrl) {
        const elem = document.querySelector('#slide_login');
        const instance = M.Sidenav.getInstance(elem);
        instance.close();
        window.location.href = vUrl;
    };

</script>
