@using Microsoft.AspNet.Identity

<nav>
    <div class="nav-wrapper">
        <div class="container">
            <ul class="hide-on-med-and-down left">
                <li>
                    <a href="#" class="sidenav-trigger show-on-large left" data-target="slide_menu"><i class="material-icons">menu</i></a>
                </li>
            </ul>
            <ul class="hide-on-med-and-down right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="#" class="sidenav-trigger show-on-large" data-target="slide_login"><i class="material-icons left">person</i>@User.Identity.GetUserName()</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="#" class="sidenav-trigger show-on-large" data-target="slide_login"><i class="material-icons left">lock</i>Login</a>
                    </li>
                }
            </ul>

            <a href="#" class="sidenav-trigger left" data-target="slide_menu"><i class="material-icons left">menu</i></a>

            <a href="#" class="brand-logo center" onclick="abrirLinkMenu('@Url.Action("Index", "Home")')">Fatec</a>

            @if (User.Identity.IsAuthenticated)
            {
                <a href="#" class="sidenav-trigger right" data-target="slide_login"><i class="material-icons right">person</i></a>
            }
            else
            {
                <a href="#" class="sidenav-trigger right" data-target="slide_login"><i class="material-icons right">lock</i></a>
            }

            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>

<ul class="sidenav" id="slide_menu">

    <li class="logo">
        <a id="imagem-auth" aria-label="Página Principal" class="brand-logo" href="#"></a>
    </li>
    <li class="version">
        <a href="#" class="collapsible-header waves-effect waves-teal center" onclick="abrirLinkMenu('@Url.Action("Index", "Home")')">Fatec</a>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a href="#" class="collapsible-header waves-effect waves-teal" onclick="abrirLinkMenu('@Url.Action("Contact", "Home")')"><i class="material-icons left">question_answer</i>Contato</a>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a href="#" class="collapsible-header waves-effect waves-teal" onclick="abrirLinkMenu('@Url.Action("Privacy", "Home")')"><i class="material-icons left">lock_open</i>Politica de Privacidade</a>
    </li>
    <li>
        <div class="divider"></div>
    </li>

    @if (User.Identity.IsAuthenticated)
    {
        <li class="version">
            <a href="#" class="collapsible-header waves-effect waves-teal center" onclick="abrirLinkMenu('@Url.Action("Professores", "Home")')">Links</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect waves-teal">Cadastros<i class="material-icons">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <ul class="collapsible collapsible-accordion">
                                    <li>
                                        <a class="collapsible-header waves-effect waves-teal">Empresas<i class="material-icons">arrow_drop_down</i></a>
                                        <div class="collapsible-body">
                                            <ul>
                                                <li>
                                                    <a href="#" class="collapsible-header waves-effect waves-teal" onclick="abrirLinkMenu('@Url.Action("Index", "Empresas")')"><i class="material-icons left">business</i>Lista Empresas</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="collapsible-header waves-effect waves-teal" onclick="abrirLinkMenu('@Url.Action("Cadastro", "Empresas")')"><i class="material-icons left">business</i>Cadastro de Empresas</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="divider"></div>
                            </li>
                            <li>
                                <a href="#" class="collapsible-header waves-effect waves-teal" onclick="abrirLinkMenu('@Url.Action("Index", "Tags")')"><i class="material-icons left">star_border</i>Lista Tags</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a href="#" class="collapsible-header waves-effect waves-teal" onclick="abrirLinkMenu('@Url.Action("Lista", "VagasEstagio")')"><i class="material-icons left">next_week</i>Vagas Estágio</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a href="#" class="collapsible-header waves-effect waves-teal" onclick="abrirLinkMenu('@Url.Action("Lista", "VagasEmprego")')"><i class="material-icons left">work</i>Vagas de Emprego</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect waves-teal">Reservas<i class="material-icons">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="http://fatecjd.edu.br/intranet/auditorio/" rel="noopener" target="_blank" class="collapsible-header waves-effect waves-teal"><i class="material-icons left"></i>Reservar Auditório</a>
                            </li>
                            <li>
                                <div class="divider"></div>
                            </li>
                            <li>
                                <a href="http://fatecjd.edu.br/intranet/reservalab/" rel="noopener" target="_blank" class="collapsible-header waves-effect waves-teal"><i class="material-icons left"></i>Reserva Laboratório</a>
                            </li>
                            <li>
                                <div class="divider"></div>
                            </li>
                            <li>
                                <a href="http://fatecjd.edu.br/intranet/eventosTL.php" rel="noopener" target="_blank" class="collapsible-header waves-effect waves-teal"><i class="material-icons left"></i>Solicitação de Eventos</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>

        <li>
            <div class="divider"></div>
        </li>
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect waves-teal">TCC<i class="material-icons">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="http://fatecjd.edu.br/intranet/tccTemas.php" rel="noopener" target="_blank" class="collapsible-header waves-effect waves-teal"><i class="material-icons left"></i>TCC Temas</a>
                            </li>
                            <li>
                                <div class="divider"></div>
                            </li>
                            <li>
                                <a href="http://fatecjd.edu.br/intranet/tcc_minhasBancas.php" rel="noopener" target="_blank" class="collapsible-header waves-effect waves-teal"><i class="material-icons left"></i>Minhas Bancas de TCC</a>
                            </li>
                            <li>
                                <div class="divider"></div>
                            </li>
                            <li>
                                <a href="http://www.fatecjd.edu.br/intranetAlunos/temas.php" target="_blank" rel="noopener" class="collapsible-header waves-effect waves-teal"><i class="material-icons left">insert_drive_file</i>TCC/ICT orientadores</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a href="https://siga.cps.sp.gov.br/fatec/login.aspx" rel="noopener" target="_blank" class="collapsible-header waves-effect waves-teal"><i class="material-icons left">school</i> Siga</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a href="http://fatecjd.edu.br/intranet/historicoHD.php" rel="noopener" target="_blank" class="collapsible-header waves-effect waves-teal"><i class="material-icons left"></i>Help Desk</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a href="http://portal.office.com/" rel="noopener" target="_blank" class="collapsible-header waves-effect waves-teal"><i class="material-icons left"></i>E-mail Office</a>
        </li>
    }
    else
    {
        <li>
            <a href="#" class="collapsible-header waves-effect waves-teal" onclick="abrirLinkMenu('@Url.Action("Index", "VagasEstagio")')"><i class="material-icons left">next_week</i>Vagas Estágio</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a href="#" class="collapsible-header waves-effect waves-teal" onclick="abrirLinkMenu('@Url.Action("Index", "VagasEmprego")')"><i class="material-icons left">work</i>Vagas de Emprego</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a href="https://siga.cps.sp.gov.br/aluno/login.aspx" rel="noopener" target="_blank" class="collapsible-header waves-effect waves-teal"><i class="material-icons left">school</i>Siga</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a href="#" class="collapsible-header waves-effect waves-teal" onclick="abrirLinkMenu('@Url.Action("Index", "Permissao")')"><i class="material-icons left">person_outline</i>Permissões</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect waves-teal">Outros<i class="material-icons">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="http://www.fatecjd.edu.br/aacc/" target="_blank" rel="noopener" class="collapsible-header waves-effect waves-teal"><i class="material-icons left">add_circle_outline</i>AACC - Apenas GTI</a>
                            </li>
                            <li>
                                <a href="http://www.fatecjd.edu.br/semtec_inscricao/" target="_blank" rel="noopener" class="collapsible-header waves-effect waves-teal"><i class="material-icons left">insert_drive_file</i>Certificados</a>
                            </li>
                            <li>
                                <a href="http://www.fatecjd.edu.br/intranetAlunos/temas.php" target="_blank" rel="noopener" class="collapsible-header waves-effect waves-teal"><i class="material-icons left">insert_drive_file</i>TCC/ICT orientadores</a>
                            </li>
                            <li>
                                <a href="http://www.fatecjd.edu.br/intranetAlunos/?page_id=2017" target="_blank" rel="noopener" class="collapsible-header waves-effect waves-teal"><i class="material-icons left">local_library</i>Tabelas Prof. João Carlos</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    }
    <li>
        <div class="divider"></div>
    </li>
</ul>

<script language="javascript">

    document.addEventListener('DOMContentLoaded', function () {
        const menuOptions = {};
        const loginOptions = { edge: 'right' };
        const collapsibleOptions = { inDuration: 50, outDuration: 50 };

        const menu = document.querySelectorAll('#slide_menu');
        M.Sidenav.init(menu, menuOptions);

        const login = document.querySelectorAll('#slide_login');
        M.Sidenav.init(login, loginOptions);

        const elems = document.querySelectorAll('.collapsible');
        M.Collapsible.init(elems, collapsibleOptions);
    });

</script>
