@using Microsoft.AspNet.Identity

<nav>
    <div class="nav-wrapper">
        <div class="container">
            <ul class="hide-on-med-and-down left">
                <li>
                    <a href="#" class="sidenav-trigger show-on-large left" data-target="slide_menu"><i class="material-icons">menu</i></a>
                </li>
            </ul>
            <ul class="hide-on-med-and-down right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="#" class="sidenav-trigger show-on-large" data-target="slide_login"><i class="material-icons left">person</i>@User.Identity.GetUserName()</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="#" class="sidenav-trigger show-on-large" data-target="slide_login"><i class="material-icons left">lock</i>Login</a>
                    </li>
                }
            </ul>

            <a href="#" class="sidenav-trigger left" data-target="slide_menu"><i class="material-icons left">menu</i></a>

            @Html.ActionLink("Fatec", "Index", "Home", new { area = "" }, new { @class = "brand-logo center" })

            @if (User.Identity.IsAuthenticated)
            {
                <a href="#" class="sidenav-trigger right" data-target="slide_login"><i class="material-icons right">person</i></a>
            }
            else
            {
                <a href="#" class="sidenav-trigger right" data-target="slide_login"><i class="material-icons right">lock</i></a>
            }

            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>

<ul class="sidenav" id="slide_menu">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="logo">
            <a id="imagem-auth" aria-label="Página Principal" class="brand-logo" href="/Home">
            </a>
        </li>
        <li class="version">
            <a href="/Home" class="collapsible-header waves-effect waves-teal center">Fatec</a>
        </li>
    }
    else
    {
        <li class="logo">
            <a id="imagem-Auth" aria-label="Página Principal" class="brand-logo" href="/Home">
            </a>
        </li>
        <li class="version">
            <a href="/Home" class="collapsible-header waves-effect waves-teal center">Fatec</a>
        </li>
    }

    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a href="@Url.Action("Index", "Home")" class="collapsible-header waves-effect waves-teal"><i class="material-icons left">layers</i>Início</a>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a href="@Url.Action("Contact", "Home")" class="collapsible-header waves-effect waves-teal"><i class="material-icons left">question_answer</i>Contato</a>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a href="@Url.Action("Privacy", "Home")" class="collapsible-header waves-effect waves-teal"><i class="material-icons left">lock_open</i>Politica de Privacidade</a>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a href="@Url.Action("Index", "Empresas")" class="collapsible-header waves-effect waves-teal"><i class="material-icons left">business</i>Empresas</a>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect waves-teal">Vagas de Estágio<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "VagasEstagio")" class="collapsible-header waves-effect waves-teal"><i class="material-icons left">next_week</i>Vagas de Estágio</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index2", "VagasEstagio")" class="collapsible-header waves-effect waves-teal"><i class="material-icons left">next_week</i>Vagas de Estágio v2</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Cadastro", "VagasEstagio")" class="collapsible-header waves-effect waves-teal"><i class="material-icons left"></i>Cadastro</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect waves-teal">Vagas de Emprego<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "VagasEmprego")" class="collapsible-header waves-effect waves-teal"><i class="material-icons left">work</i>Vagas de Emprego</a>
                        </li>
                        <li>
                            <a href="@Url.Action("", "VagasEmprego")" class="collapsible-header waves-effect waves-teal"><i class="material-icons left"></i>Cadastro</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a href="https://siga.cps.sp.gov.br/aluno/login.aspx" rel="noopener" target="_blank" class="collapsible-header waves-effect waves-teal"><i class="material-icons left">school</i>Siga</a>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect waves-teal">Outros<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a href="http://www.fatecjd.edu.br/aacc/" target="_blank" rel="noopener" class="collapsible-header waves-effect waves-teal"><i class="material-icons left">add_circle_outline</i>AACC - Apenas GTI</a>
                        </li>
                        <li>
                            <a href="http://www.fatecjd.edu.br/semtec_inscricao/" target="_blank" rel="noopener" class="collapsible-header waves-effect waves-teal"><i class="material-icons left">insert_drive_file</i>Certificados</a>
                        </li>
                        <li>
                            <a href="@Url.Action("", "")" target="_blank" rel="noopener" class="collapsible-header waves-effect waves-teal"><i class="material-icons left">local_library</i>Tabelas Prof. João Carlos</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li>
        <div class="divider"></div>
    </li>
</ul>

<script language="javascript">

    document.addEventListener('DOMContentLoaded', function () {
        const menuOptions = {};
        const loginOptions = { edge: 'right' };
        const collapsibleOptions = { inDuration: 50, outDuration: 50 };

        const menu = document.querySelectorAll('#slide_menu');
        M.Sidenav.init(menu, menuOptions);

        const login = document.querySelectorAll('#slide_login');
        M.Sidenav.init(login, loginOptions);

        const elems = document.querySelectorAll('.collapsible');
        M.Collapsible.init(elems, collapsibleOptions);
    });

</script>